/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*::before,*::after{
    box-sizing: border-box;
}

:root{
    --first: #ffffff;
    --second: #F1234E;
    --third: #03142E;
    --fourth: #DFECFF;
    --fifth: #23347B;
    --sixth: #102169;
}

html{
    font-size: 16px;
}

body{
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

a{
    text-decoration: none;
    color: var(--first);
}

.flex{
    display: flex;
}

.flex-48{
    flex: 0 1 48%;
}

.flex-30{
    flex: 0 1 32%;
}

.flex-20{
    flex: 0 1 20%;
}

.center{
    text-align: center;
}

.justify-around{
    justify-content: space-around;
}

.column{
    flex-direction: column;
}

.full-width{
    width: 100%;
}

.justify-between{
    justify-content: space-between;
}

.items-center{
    align-items: center;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    padding: 0 2rem;
}

.padding{
    padding: 2rem 0;
}



/* Header */
.navbar{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}    

.brand{
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-menu li{
    font-size: 0.9rem;
    margin-left: 2rem;
    align-items: center;
}

.btn{
    background-color: var(--second);
    padding: 0.5rem 1.8rem;
    border-radius: 0.2rem;
    color: var(--first);
}

#toggle,.bars{
    display: none;
}

/* Hero */

.hero{
    background: linear-gradient(rgba(55,45,178, 0.7),rgba(55,45,178, 0.7)), url(../banner.png) no-repeat;
    padding: 3rem 0;
    color: var(--first);
    background-size:cover;
}

.active{
    color: var(--second);
}

.hero .padding{
    padding-top: 3rem;
}

.hero-content1 h1{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.hero-content1 p{
    margin-bottom: 2rem;
}

.hero img{
    margin-top: 4rem;
}
/*why join*/

.why-join{
    background-color: var(--fourth);
}

.why-join-content h1{
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.why-join-content h2{
    font-weight: 700;
    font-size: 1.3rem;
}

.reasons{
    border: 0.2rem var(--second) dashed;
    width: 100%;
    padding: 2rem 10px 1rem 10px;
    position: relative;
}

.reason-num{
    color: var(--second);
    font-weight: 700;
    font-size: 2rem;
    position: absolute;
    top: -1.6rem;
    margin: 0 1rem;
    background-color: var(--fourth);
    padding: 0px 5px;
}

/* schedule */

.circle{
    background-color: var(--second);
    border-radius: 50%;
    text-align: center;
    padding: 1rem 1.5rem;
    color: var(--first);
    position: relative;
    font-weight: 700;
}

.circle-margin{
    margin: 2rem 0;
}

.circle-back{
    color: var(--second);
    border: 1px var(--second) dashed;
    background-color: var(--first);
}

.line{
    border-right: 1px var(--second) dashed;
    height: 2rem;
    position: absolute;
    left: 3rem;  
    top: 6rem;
    z-index: 99; 
}

.image-colum img{
    width: 8rem;
    border-radius: 0.7rem;
    margin-left: 3rem;
}

.schedule-notes .circle-margin{
    margin: 3rem 0;
}

.download-schedule{
    text-align: center;
}

/*light*/

.light{
    background-color: var(--fourth);
}

.light-active{
    background-color: var(--second);
    padding: 1rem 0.5rem;
    color: var(--first);
}

.light-main{
    font-weight: 700;
}

.light-main h1{
    font-size: 2rem;
}

/*vid*/

.vid{
    background-image: url(../banner.png);
    color: var(--second);
    border-radius: 0.4rem;
    padding: 22%;
}

.vid .circle{
    color: var(--second);
    background-color: white;
    text-align: center;
    padding: 2rem 2.5rem;
}

i{
    font-size: 2rem;
}

.centers{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*news*/

.news{
    background-color: var(--fourth);
}

.news-item a{
    color: var(--sixth);
    text-decoration: underline;
    font-weight: 700;
    margin-top: 1rem;
    display: inline-block;
}

.news-item .active{
    color: var(--second);
}

/*footer*/
.footer{
    background-color: var(--fifth);
}

.footer-nav li{
    margin-left: 0;
    margin-right: 1rem;
}

.footer-nav li a{
    color: rgb(197, 196, 196)
}

.foot-active{
    font-weight: 700;
}

.footer .circle-margin{
    margin: 1rem 0;
}

.foot{
    background-color: var(--sixth);
    text-align: center;
    color: grey;
}



@media screen and (max-width: 1200px){
        .container{
            max-width: 1140px;
        }
}

@media screen and (max-width: 992px){
    .container{
        max-width: 960px;
    }
}

@media screen and (max-width: 768px){
    html{
        font-size: 16px;
    }

    .navbar{
        position: fixed;
        background-color: var(--sixth);  
    }

    .nav{
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(35,52,123, 0.9);
        height: 100vh;
        padding-top: 6rem;
        z-index: 9;
    }

    #toggle:checked ~ .nav{
        display: inline-block;
    }


    .bars{
        display: inline-block;
        color: white;   
        z-index: 99;
    }

    .brand{
        z-index: 99;
    }

    .sm-column{
        flex-direction: column;
    }

    .sm-padding{
        padding: 0 2rem;
    }

    .sy-margin{
        margin: 2rem 0;
    }

    .nav-menu li{
        margin: 1rem 0;
    }

    /*hero*/
    .hero .hero-content1 h1{
        margin-top: 4rem;
    }

    .sm-flex-100{
        flex: 0 1 100%;
    }

    .sm-items-center{
        align-items: center;
    }
    .sm-flex-33{
        flex: 0 1 33%;
    }

    .sm-flex-40{
        flex: 0 1 40%;
    }

    .sm-flex{
        display: flex;
    }

    .sm-flex-wrap{
        flex-wrap: wrap;
    }

    .sm-width-full{
        width: 100%;
    }

    .sm-center h2,p,a{
        justify-content: center;

    }
}

@media screen and (max-width: 576px){
    .container{
        max-width: 540px;
    }
}


